/*********************** M A I N   C O N T A I N E R S ***********************/

.navbar, .main{
    background-color: #444;
    font-family: "Reem Kufi";
}

.light{
    background-color: #dddddd;
}

body {
    background-color: #000000;
}



/***************************** R G B   S H A D O W *****************************/

.rgb-shadow{
    position: relative;
}

.rgb-shadow:before, .rgb-shadow:after {
    content:"";
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;

    animation: animate 30s linear infinite;
}

.rgb-shadow:after{
    filter: blur(8px);
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* rgb text */

.rgb-text span, .rgb-text h1 {
    background: repeating-linear-gradient(90deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 600%;
    -webkit-text-fill-color: transparent;
    background-clip: border-box;
    -webkit-background-clip: text;
    animation: slide 30s linear infinite forwards;
}

@keyframes slide {
    0%{
        background-position-x: 600%;
    }
    100%{
        background-position-x: 0;
    }
}


/******************************** N A V B A R ********************************/

/* Header */

.search {
    background-color: #888;
    color: black;
    font-size: 1.2em;
}
.search::placeholder {
    color: #444;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 13px;
  width: 13px;
  margin-left: 10px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewPort='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='1' y1='11' x2='11' y2='1' stroke='black' stroke-width='3'/%3e%3cline x1='1' y1='1' x2='11' y2='11' stroke='black' stroke-width='3'/%3e%3c/svg%3e");
}


/* Nav */

.btn {
    background-color: #888;
    color: black;
    border-radius: 10px;
    height: 50px;
}
.btn:hover {
    background-color: #c00;
}


/* Footer */

.footer a {
    color: #888;
}
.footer small {
    color: #888;
    font-size: .8em;
}


/********************************** M A I N **********************************/

#welcome .row:nth-child(1), #welcome .row:nth-child(3){
    height: 30%;
}

#welcome .row:nth-child(2) {
    height: 40%;
}

.main img {
    height: 250px;
}

#start-btn {
    width: 50%;
}
